ZDI_ENV=dev
ZDI_TIMEZONE=Europe/London
ZDI_USER_GROUP_ID=1000
ZDI_USER_GROUP_NAME=debian
ZDI_USER_ID=1000
ZDI_USER_NAME=debian

ZDI_DIR_WEB=/home/web

ZDI_ADD_COMPOSER=true
ZDI_ADD_LARAVEL=false
ZDI_VERSION_COMPOSER=2.8.7
ZDI_VERSION_PHP=8.4

ZDI_HOST_IP=127.0.0.22
