<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticProperties="false"
    bootstrap="./vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    processIsolation="false"
    stopOnFailure="true"
    timeoutForLargeTests="10"
    timeoutForMediumTests="5"
    timeoutForSmallTests="1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
>
    <coverage>
        <report>
            <html outputDirectory="./coverage-report/"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
